.main-container {
    width: 100%;  
}

.main-container h3 {
    text-align: center;
    color: rgb(134, 135, 206);
}

.main-container label {
    margin-left: 15px;
    font-size: 20px;
}

.main-container input {
    margin-left: 5px;
    font-size: 15px;
}

.main-container button {
    margin-left: 10px;
    font-size: 17px;
    padding: 2px 20px;
    border-radius: 3px;
    background-color: lightgrey;
    color: black;
}

.main-container button:hover {
    cursor: pointer;
    background-color:rgb(132, 151, 235);
    color: white;
}

.main-container .error {
    margin-left: 25px;
    background-color:rgb(235, 110, 116);
    color: white;
    padding: 4px;
    width: 23%;
    text-align: center;
    border-radius: 2px;
}