.header-container{
    border: 1px solid rgb(24, 36, 107);
    margin-top: 0;
    text-align: center;
    width: 100%;
}

.header-container img {
    height: 80px;
    width: 80px;
    
    float: left;
}
.header-container h1 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color:lightblue;
    margin-left: -16px;
    
}