.logo-container {
    margin-top: 25px; 
    margin-left: 20px; 
    width: 100000px;
    border: lightcoral;
    
}
.logo-container p {
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 12px;
}
